/*description:整体购买咨询分析 ;
author:vicshang(2015-8-29 11:03:07);
update*/
.opinionList .opinionItem{padding: 0px 10px 10px;}
.bugTabTitle .tabTitle{width: 50%;}
.opinionList{padding-bottom: 0px;}
.trendTab .tabTitle{width: 33.33%;}
