.opinionList{padding-bottom: 0px;}
.flowDetailTable{margin-bottom: 0px;}
.groupAnalyseTab .tabTitle{width: 33.33%;}
.opinionList .opinionItem{padding: 0px 10px 10px;}
.tabWrap .tabContWrap{margin-bottom: 50px;}