.fs_monitorWrap{}
.monitorTitles .tabTitle{width: 33.33%;height: 40px;}
.tabWrap .monitorTitles .tabTitle{line-height: 40px;}
.tabWrap .monitorTitles{height: 40px;}
.opinionItem{padding:10px 10px 0px;}
.dataTable{width: 100%;}
.tabWrap .monitorTitles .dateTab{line-height: 15px;display: inline-block;padding-top: 5px;}
.fs_monitorWrap .pageTitle{line-height: 30px;height: 30px;font-size: 16px;color: #000;text-align: center;}
.qushiTabs .tabTitle{width: 50%;}
.b_table{width: 100%;border-collapse:collapse;color: #444444;}
.b_table span{font-size: 0.75em;-webkit-transform:scale(0.75);white-space:nowrap;display: block;overflow: hidden;max-width: 60px;margin: 0px auto;}
.b_tableWrap{box-sizing:border-box;padding: 10px 10px;}
.b_table td{text-align: center;border:1px solid #c0c0c0;line-height: 22px;}
.b_table .b_table_th{color: #8c8c8c;}
.tabWrap{border:1px solid #ccc;}
.levelTable span{font-size: 0.6em;-webkit-transform:scale(0.6);white-space:nowrap;display: block;overflow: hidden;max-width: 60px;margin: 0px auto;}
.funnel_flowWrap{padding-bottom: 15px;}
.tabWrap{padding-bottom: 40px;}
.flowDetailTitle{font-size: 0.8em;-webkit-transform:scale(0.8);text-align: center;margin:5px 0;}
.flowDetailTable{width: 100%;}
.flowDetailTable td{border:1px solid #c0c0c0;text-align: center;}
.flowDetailTable td span{font-size: 0.8em;-webkit-transform:scale(0.8);display: block;}
.flowDetailTable{margin-bottom: 25px;}